{% include 'adminsidebar.html' %}


                 <section class="middle" style="width: 120%;">
                  <div class="header">
                      <h1>Dashboard</h1>
                      <input type="date">
                        </div>
                  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                    <div class="container h-100">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                          <div class="card" style="border-radius: 15px; background:rgb(213, 230, 236);">
                            <div class="card-body p-5">
                              <h2 class="text-uppercase text-center mb-5">Account Statement</h2>
                
                              <form method="post">
                                


                                <div class="mb-4 pb-3">
                                    <div class="dropdown dropdown-custom">
                                      <input type="text" name="accno" id="new-dropdown-input" class="form-control form-control-lg" placeholder="Search by accno or customer name....">
                                      <span class="dropdown-custom-icon">&#9662;</span>
                                      <ul class="dropdown-custom-list" style="display: block;">
                                        {% for row in account_details %}
                                        <li>{{ row[0] }} {{ row[1] }} {{ row[2] }}</li>
                                        {% endfor %}
                                      </ul>
                                    </div> 
                                </div> 
                                    <div class="mb-4">
                                        <div class="form-outline">                                 
                                            <input type="date" id="from_date" name="from_date" class="form-control form-control-lg" ><br>
                                            <label for="from_date">From Date:</label>
                                        </div> 
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-outline">                   
                                            <input type="date" id="to_date" name="to_date" class="form-control form-control-lg" ><br>
                                            <label for="to_date">To Date:</label>
                                        </div>   
                                    </div>
                                   
                                
                                
                               
                
                               
                
                              
                                
                                

                                <div class="d-flex justify-content-center">
                                  <!-- <button type="button"
                                    class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Add Branch</button> -->
                                    <input type="submit"  name="add" value="Download Account Statement" class="btn btn-primary btn-lg gradient-custom-4 text-body">
                                  </div>
                
                               
                
                              </form>
                
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                  </div>

                  



                </section>
                
            </main>  
    <!-- ====================end of aside==========================   -->
    <script>
        const newInput = document.querySelector('#new-dropdown-input');
        const newDropdownList = document.querySelector('.dropdown-custom-list');
        const newOptions = Array.from(newDropdownList.getElementsByTagName('li'));
        const newDropdownIcon = document.querySelector('.dropdown-custom-icon');
        
        newInput.addEventListener('input', function() {
          const searchText = newInput.value.toLowerCase();
        
          newOptions.forEach(option => {
            const text = option.textContent.toLowerCase();
            if (text.includes(searchText)) {
              option.style.display = 'block';
            } else {
              option.style.display = 'none';
            }
          });
        
          newDropdownList.style.display = 'block';
        });
        
        newDropdownIcon.addEventListener('click', function() {
          newDropdownList.style.display = newDropdownList.style.display === 'block' ? 'none' : 'block';
        });
        
        newDropdownList.addEventListener('click', function(event) {
          const selectedOption = event.target;
          if (selectedOption.tagName === 'LI') {
            const optionValues = selectedOption.textContent.trim().split(' ');
            newInput.value = optionValues[optionValues.length - 1];
            newDropdownList.style.display = 'none';
          }
        });
        
        newInput.addEventListener('click', function() {
          newDropdownList.style.display = 'none';
        });
        
        newDropdownList.style.display = 'none';
      </script>
</body>
</html>