{% include 'adminsidebar.html' %}

                    <section class="middle">
                        <div class="header">
                            <h1>Dashboard</h1>
                            <input type="date">
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <section class="h-100 h-custom gradient-custom-2" style="width: 125%;">
                                <div class="container py-5 h-100">
                                  <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-12">
                                      <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                        <div class="card-body p-0">
                                          <div class="row g-0">
                                            <div class="col-lg-6">
                                              <div class="p-5">
                                                <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>
                              
                                                
                              
                                                <div class="row">
                                                  <div class="col-md-6 mb-4 pb-2">
                              
                                                    <div class="form-outline">
                                                      <input type="text" id="fname" name="fname" class="form-control form-control-lg" required/>
                                                      <label class="form-label" for="form3Examplev2">First name</label>
                                                    </div>
                              
                                                  </div>
                                                  <div class="col-md-6 mb-4 pb-2">
                              
                                                    <div class="form-outline">
                                                      <input type="text" id="lname" name="lname" class="form-control form-control-lg" required/>
                                                      <label class="form-label" for="form3Examplev3">Last name</label>
                                                    </div>
                              
                                                  </div>
                                                </div>
                              
                                            
                              
                                                <div class="mb-4 pb-2">
                                                  <div class="form-outline">
                                                    <input type="date" id="form3Examplev4" name="dob" class="form-control form-control-lg" required/>
                                                    <label class="form-label" for="form3Examplev4">dob</label>
                                                  </div>
                                                </div>
                                               
                                                  <div class="mb-4 pb-2">
                                                    
                                                    <div class="form-outline">
                                                      <input type="file" name="image" class="form-control form-control-lg" id="inputGroupFile01" onchange="previewImage(event)" required>
                                                      <label for="inputGroupFile01" class="form-label">Choose photo</label>
                                                    </div>
                                                  </div>
                                                  <div class="mb-4">
                                                    <img id="image-preview" class="img-fluid" alt="Uploaded Image will shown below" style="height:130px; width:130px;">
                                                  </div>
                                                  
                                                      <div class="mb-4 pb-3">
                                                        <select name="status" class="form-control form-control-lg p-2" required>
                                                          <option disabled selected value>Select martial status</option>
                                                          <option value="single">single</option>
                                                          <option value="married">married</option>
                                                        </select>
                                                        <label class="form-label" for="form3Examplev4">Status</label>
                                                      </div>
                        
                                                      <div class="mb-4 pb-3">
                                                        <select name="gender" class="form-control form-control-lg p-2" required>
                                                          <option disabled selected value>Select gender</option>
                                                          <option value="male">male</option>
                                                          <option value="female">female</option>
                                                        </select>
                                                        <label class="form-label" for="form3Examplev4">Gender</label>
                                                      </div>
                                                    <div class="mb-4 pb-3">
                                                      <select name="branch" id="branch" class="form-control form-control-lg p-2" required>
                                                        <option value="">Select Branch</option>
                                                        {% for branch in branch_names %}
                                                        <option value="{{ branch }}">{{ branch }}</option>
                                                        {% endfor %}
                                                    </select>
                                                        <label class="form-label" for="form3Examplev4">Branch</label>
                                                      </div>
                                                      <div class="mb-4 pb-3">
                                                        <select name="employee_type" class="form-control form-control-lg p-2" required>
                                                          <option disabled selected value>Select employee</option>
                                                          <option value="manager">Manager</option>
                                                          <option value="clerk">Clerk</option>
                                                        </select>
                                                        <label class="form-label" for="form3Examplev4">Employee</label>
                                                      </div>
                                                      
                                              </div>
                                            </div>
                                            <div class="col-lg-6 bg-indigo text-white">
                                              <div class="p-5">
                                                <h3 class="fw-normal mb-5">Contact Details</h3>
                              
                                                <div class="mb-4 pb-2">
                                                  <div class="form-outline form-white">
                                                    <input type="text" name="address" id="form3Examplea2" class="form-control form-control-lg" required/>
                                                    <label class="form-label" for="form3Examplea2">Address</label>
                                                  </div>
                                                </div>
                            
                              
                                                <div class="row">
                                                  <div class="col-md-5 mb-4 pb-2">
                              
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="zipcode" name="zipcode" class="form-control form-control-lg" required/>
                                                      <label class="form-label" for="form3Examplea4">Zip Code</label>
                                                    </div>
                              
                                                  </div>
                                                  <div class="col-md-7 mb-4 pb-2">
                              
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="place" name="place" class="form-control form-control-lg" required/>
                                                      <label class="form-label" for="form3Examplea5">Place</label>
                                                    </div>
                              
                                                  </div>
                                                </div>
                                                <div class="mb-4 pb-3">
                                                    <select name="district" class="form-control form-control-lg p-2" required>
                                                        <option disabled selected value="">Select a district</option>
                                                            <option value="Alappuzha">Alappuzha</option>
                                                            <option value="Ernakulam">Ernakulam</option>
                                                            <option value="Idukki">Idukki</option>
                                                            <option value="Kannur">Kannur</option>
                                                            <option value="Kasaragod">Kasaragod</option>
                                                            <option value="Kollam">Kollam</option>
                                                            <option value="Kottayam">Kottayam</option>
                                                            <option value="Kozhikode">Kozhikode</option>
                                                            <option value="Malappuram">Malappuram</option>
                                                            <option value="Palakkad">Palakkad</option>
                                                            <option value="Pathanamthitta">Pathanamthitta</option>
                                                            <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                                            <option value="Thrissur">Thrissur</option>
                                                            <option value="Wayanad">Wayanad</option>
                                                    </select>
                                                    <label class="form-label" for="form3Examplev4">District</label>
                                                  </div>
                              
                                                <div class="row">
                                                  <div class="col-md-5 mb-4 pb-2">
                              
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="form3Examplea7" class="form-control form-control-lg" value="91" readonly/>
                                                      <label class="form-label" for="form3Examplea7">Code +</label>
                                                    </div>
                              
                                                  </div>
                                                  <div class="col-md-7 mb-4 pb-2">
                              
                                                    <div class="form-outline form-white">
                                                      <input type="number" id="phone" name="phone" class="form-control form-control-lg" required/>
                                                      <label class="form-label" for="form3Examplea8">Phone Number</label>
                                                    </div>
                                                    <ul id="phoneNumberList">

                                                      {% for row in phoneno %}
                                                        <li style="display:none;">{{ row }}</li>
                                                      {% endfor %}
                                                    </ul>
                                                  </div>

                                                </div>
                              
                                                <div class="mb-4">
                                                  <div class="form-outline form-white">
                                                    <input type="email" id="email" name="email" class="form-control form-control-lg" required/>
                                                    <label class="form-label" for="form3Examplea9">Your Email</label>
                                                  </div>
                                                  <ul id="emailList">

                                                    {% for row in emails %}
                                                      <li style="display: none;">{{ row }}</li>
                                                    {% endfor %}
                                                  </ul>
                                                </div>
                                                <!-- <div class="mb-4 pb-2">
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="usernameInput" name="username" class="form-control form-control-lg" />
                                                      <label class="form-label" for="form3Examplea2">username</label>
                                                      <div id="usernameMessage"></div>
                                                    </div>
                                                  </div>
                                                  <div class="mb-4 pb-2">
                                                 
                                              
                        
                                                      <div class="input-group">  
                                                        <input type="password" id="passwordInput" name="password" class="form-control form-control-lg" />
                                                        <div class="input-group-append">
                                                          <span class="input-group-text">
                                                            <i id="togglePassword" class="fa fa-eye"></i>
                                                          </span>
                                                        </div>
                                                      </div>
                                                      
                                                      <div id="passwordMessage" class="password-message"></div>
                                                    
                                                  </div>
                                                 -->
                              
                                                
                                                  <input type="submit"  name="add" value="Register" class="btn btn-primary btn-lg">
                              
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              </form>
                 </section>
                 
                
            </main>  
    <!-- ====================end of aside==========================   -->
   
   
    <script>
      
      var submenuIcons = document.querySelectorAll('.submenu-icon');
     // Loop through each submenu icon
     submenuIcons.forEach(function(icon) {
        // Add a click event listener to each submenu icon
        icon.addEventListener('click', function() {
            // Get the corresponding submenu for this icon
            var submenu = icon.parentElement.nextElementSibling; 
            // Toggle the visibility of the submenu
            submenu.classList.toggle('show');
        });
     });
         </script>
   
   <script>
      const phoneNumberInput = document.getElementById('phone');
    const phoneNumberList = document.querySelectorAll('#phoneNumberList li');
  
    phoneNumberInput.addEventListener('input', function() {
      const phoneNumberValue = phoneNumberInput.value.trim();
      let numberInUse = false;
  
      phoneNumberList.forEach(function(listItem) {
        if (listItem.textContent.trim() === phoneNumberValue) {
          numberInUse = true;
          return;
        }
      });
  
      if (numberInUse) {
        showAlert('The phone number is already in use. Please enter a different number.');
        phoneNumberInput.value = '';
      }
    });
    
  
  
    const emailInput = document.getElementById('email');
    const emailList = document.querySelectorAll('#emailList li');
  
    emailInput.addEventListener('input', function() {
      const emailValue = emailInput.value.trim();
      let emailInUse = false;
  
      emailList.forEach(function(listItem) {
        if (listItem.textContent.trim() === emailValue) {
          emailInUse = true;
          return;
        }
      });
  
      if (emailInUse) {
        showAlert('The email is already in use. Please enter a different email.');
        emailInput.value = '';
      }
    });
    
   
  
        // ... Rest of the JavaScript code ...
        function showAlert(message) {
      const alertElement = document.createElement('div');
      alertElement.classList.add('alert-message');
      alertElement.textContent = message;
  
      // Insert the alert message before the form
      const formElement = document.querySelector('form');
      formElement.parentNode.insertBefore(alertElement, formElement);
      
      // Remove the alert message after a delay (5 seconds in this example)
      setTimeout(function() {
        alertElement.remove();
      }, 4500);
    }
      </script>
    <script>
      const firstNameInput = document.getElementById('fname');
      const lastNameInput = document.getElementById('lname');
      const cityNameInput = document.getElementById('place');
      
     
      
      const phoneInput = document.getElementById('phone');

    
      firstNameInput.addEventListener('input', function() {
    const firstNameValue = firstNameInput.value;
    const containsNumber = /\d/.test(firstNameValue);
    const containsSymbol = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(firstNameValue);

    if (containsNumber || containsSymbol) {
      showAlert('Invalid characters in the first name field. Please enter a valid first name.');
      firstNameInput.value = '';
    }
  });
      lastNameInput.addEventListener('input', function() {
    const lastNameValue = lastNameInput.value;
    const containsNumber = /\d/.test(lastNameValue);
    const containsSymbol = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(lastNameValue);

    if (containsNumber || containsSymbol) {
      showAlert('Invalid characters in the last name field. Please enter a valid last name.');
      lastNameInput.value = '';
    }
  });
    
      cityNameInput.addEventListener('input', function() {
    const cityNameValue = cityNameInput.value;
    const containsNumber = /\d/.test(cityNameValue);
    const containsSymbol = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(cityNameValue);

    if (containsNumber || containsSymbol) {
      showAlert('Invalid characters in the city field. Please enter a valid city name.');
      cityNameInput.value = '';
    }
  });


      phoneInput.addEventListener('input', function() {
      var phoneno = /^\d{11}$/;
    

    const phoneValue =  parseFloat(phoneInput.value);
    const containsSymbol1 = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(phoneValue);
    
    if (phoneInput.value.match(phoneno) || phoneValue < 0 || containsSymbol1) {
      showAlert('Phone number must be exactly 10 digits long and should not contain special symbols.');
      phoneInput.value = '';
    }
  });

  

      function showAlert(message) {
    const alertElement = document.createElement('div');
    alertElement.classList.add('alert-message');
    alertElement.textContent = message;

    // Insert the alert message before the form
    const formElement = document.querySelector('form');
    formElement.parentNode.insertBefore(alertElement, formElement);
    
    // Remove the alert message after a delay (5 seconds in this example)
    setTimeout(function() {
      alertElement.remove();
    }, 3500);
  }
    </script> 
    <script>
   
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
          var output = document.getElementById('image-preview');
          output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
       }
      
      
      // validate password===============
      const togglePassword = document.querySelector('#togglePassword');
      const passwordInput1 = document.querySelector('#passwordInput1');
      
      togglePassword.addEventListener('click', function (e) {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('fa-eye');
      });
      
      
      
      
      //end
      
      const passwordInput = document.getElementById('passwordInput');
      const passwordMessage = document.getElementById('passwordMessage');
      
      const passwordCriteria = {
        minLength: 8,
        hasNumber: /\d/,
        hasUppercase: /[A-Z]/,
        hasLowercase: /[a-z]/,
        hasSpecialChar: /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/
      };
      
      passwordInput.addEventListener('input', () => {
        const password = passwordInput.value;
        let valid = true;
        let message = '';
      
        if (password.length < passwordCriteria.minLength) {
          message += `Password must be at least ${passwordCriteria.minLength} characters long. `;
          valid = false;
        } else {
          valid = true; // Update valid to true if the length criteria is met
        }
      
        if (!passwordCriteria.hasNumber.test(password)) {
          message += 'Password must contain at least one number. ';
          valid = false;
        }
      
        if (!passwordCriteria.hasUppercase.test(password)) {
          message += 'Password must contain at least one uppercase letter. ';
          valid = false;
        }
      
        if (!passwordCriteria.hasLowercase.test(password)) {
          message += 'Password must contain at least one lowercase letter. ';
          valid = false;
        }
      
        if (!passwordCriteria.hasSpecialChar.test(password)) {
          message += 'Password must contain at least one special character. ';
          valid = false;
        }
      
        if (valid) {
          message = 'Password is valid';
          passwordMessage.classList.add('valid-password');
        } else {
          passwordMessage.classList.remove('valid-password');
        }
      
        passwordMessage.textContent = message;
      });
      
      
      const usernameInput = document.getElementById('usernameInput');
      const usernameMessage = document.getElementById('usernameMessage');
      
      usernameInput.addEventListener('input', validateUsername);
      
      function validateUsername() {
        const username = usernameInput.value.trim();
      
        if (username.length >= 5 && /^[a-zA-Z0-9_]+$/.test(username)) {
          showValidationMessage('Valid username', 'valid');
        
        } else if (/[^a-zA-Z0-9_]/.test(username)) {
          showValidationMessage('Username must not contain special characters', 'invalid');}
        else {
          showValidationMessage('Username must contain at least 5 characters', 'invalid');
        }
      }
      
      function showValidationMessage(message, className) {
        usernameMessage.textContent = message;
        usernameMessage.className = className;
      }
      
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
       let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
       arrowParent.classList.toggle("showMenu");
        });
      }
      
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
      });

      
      </script>
</body>
</html>