{% include 'adminsidebar.html' %}

                 <!-- end of aside----- -->

                 <section class="middle">
                    <div class="header">
                        <!-- <h1>Dashboard</h1> -->
                        <input type="date">
                    </div>
                    <div class="welcome-container">
                        <h1 class="welcome-text">Welcome to Bank Admin Portal</h1>
                    
                        <div class="subtitle-text">Manage and oversee all banking operations</div>
                    
                        
                    
                        
                    
                        <a href="#" class="read-more-btn">Read More</a>
                    
                        <div class="social-icons">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                      </div>
             </section>
                
            </main>  
    <!-- ====================end of aside==========================   -->
</body>
<script>
  // Get all the submenu icons
var submenuIcons = document.querySelectorAll('.submenu-icon');
// Loop through each submenu icon
submenuIcons.forEach(function(icon) {
   // Add a click event listener to each submenu icon
   icon.addEventListener('click', function() {
       // Get the corresponding submenu for this icon
       var submenu = icon.parentElement.nextElementSibling; 
       // Toggle the visibility of the submenu
       submenu.classList.toggle('show');
   });
});
</script>
</html>