{% include 'customersidebar.html' %}

                    <section class="middle">
                        <div class="header">
                            <!-- <h1>Dashboard</h1> -->
                            <input type="date">
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <section class="h-100 h-custom gradient-custom-2" style="width: 125%;">
                                <div class="container py-5 h-100">
                                  <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-12">
                                      <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                        <div class="card-body p-0">
                                          <div class="row g-0">
                                            <div class="col-lg-6">
                                              <div class="p-5">
                                                <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>
                              
                                                
                                        {% for customer in customer %}
                              
                                            <div class="row">
                                                  <div class="col-md-6 mb-4 pb-2">
                              
                                                    <div class="form-outline">
                                                      <input type="text" id="form3Examplev2" name="fname" value="{{ customer[0] }}" class="form-control form-control-lg" disabled/>
                                                      <label class="form-label" for="form3Examplev2">First name</label>
                                                    </div>
                              
                                                  </div>
                                                  <div class="col-md-6 mb-4 pb-2">
                              
                                                    <div class="form-outline">
                                                      <input type="text" id="form3Examplev3" name="lname" value="{{ customer[1] }}" class="form-control form-control-lg" disabled/>
                                                      <label class="form-label" for="form3Examplev3">Last name</label>
                                                    </div>
                              
                                                  </div>
                                                </div>
                              
                                            
                              
                                                <div class="mb-4 pb-2">
                                                  <div class="form-outline">
                                                    <input type="date" id="form3Examplev4" name="dob" value="{{ customer[2] }}" class="form-control form-control-lg" disabled/>
                                                    <label class="form-label" for="form3Examplev4">Date of Birth</label>
                                                  </div>
                                                </div>
                                               
                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline">
                                                      <input type="text" id="form3Examplev4" name="gender" value="{{ customer[3] }}" class="form-control form-control-lg" disabled/>
                                                      <label class="form-label" for="form3Examplev4">Gender</label>
                                                    </div>
                                                  </div>
                                                 
                                                  
                                                      
                        
                                                      
                                                      <div class="row">
                                                        <div class="col-md-5 mb-4 pb-2">
                                    
                                                          <div class="form-outline form-white">
                                                            <input type="text" id="form3Examplea7" class="form-control form-control-lg" value="91" readonly/>
                                                            <label class="form-label" for="form3Examplea7">Code +</label>
                                                          </div>
                                    
                                                        </div>
                                                        
                                                        <div class="col-md-7 mb-4 pb-2">
                                    
                                                          <div class="form-outline form-white">
                                                            <input type="text" id="form3Examplea8" value="{{ customer[4] }}" name="phone" class="form-control form-control-lg" />
                                                            <label class="form-label" for="form3Examplea8">Phone Number</label>
                                                          </div>
                                    
                                                        </div>
                                                      </div>
                                                     
                                                      <div class="mb-4 pb-2">
                                                        <div class="form-outline">
                                                          <input type="email" id="form3Examplev4" name="email" value="{{ customer[5] }}" class="form-control form-control-lg" disabled/>
                                                          <label class="form-label" for="form3Examplev4">Email</label>
                                                        </div>
                                                      </div>
                                                      <div class="mb-4 pb-2">
                                                        <div class="form-outline">
                                                          <input type="text" id="form3Examplev4" name="cardname" value="{{ card_name }}" class="form-control form-control-lg" disabled/>
                                                          <label class="form-label" for="form3Examplev4">card name</label>
                                                        </div>
                                                      </div>
                                                      <h2><b style="color: black;">Job details</b></h2>
                                                      <div id="show-btn" class="icon-container">
                                                        <i class="fas fa-plus"></i>
                                                      </div>

                                                      <div id="container-67" style="display: none;">

                                                        <div class="mb-4 pb-2">
                                                          <select name="j_name" class="form-control form-control-lg p-2" id="jobTypeSelect">
                                                            <option disabled selected value>Select job type</option>
                                                            <option value="doctor">Doctor</option>
                                                            <option value="defence">Defence</option>
                                                            <option value="pensioner">Pensioner</option>
                                                            <option value="others">Others</option>
                                                          </select>
                                                          <label class="form-label" for="form3Examplev4">Job Type</label>
                                                        </div>
                                                        
                                                        <div id="otherJobForm" style="display: none;">
                                                          <!-- Additional form fields for the "others" job type -->
                                                          <!-- Add your form fields here -->
                                                          
                                                            <div class="mb-4 pb-2">
                                                              <div class="form-outline">
                                                                <input type="text" name="j_name" id="form3Examplev4" name="email" class="form-control form-control-lg">
                                                                <label class="form-label" for="form3Examplev4">Job Name</label>
                                                              </div>
                                                            </div>
                                                        </div>


                                                        <div class="mb-4 pb-2">
                                                          <div class="form-outline">
                                                            <input type="text" name="c_name" id="form3Examplev4" name="email"  class="form-control form-control-lg">
                                                            <label class="form-label" for="form3Examplev4">Company Name</label>
                                                          </div>
                                                        </div>
                                                        <div class="mb-4 pb-2">
                                                          <div class="form-outline">
                                                            <input type="text" name="c_location" id="form3Examplev4" name="email"  class="form-control form-control-lg">
                                                            <label class="form-label" for="form3Examplev4">Company Location</label>
                                                          </div>
                                                        </div>
                                                        
                                                       
                                                      </div>
                                                      
                                                      
                                                      
                                              </div>
                                            </div>
                                            <div class="col-lg-6 bg-indigo text-white">
                                              <div class="p-5">
                                                <h3 class="fw-normal mb-5">Details</h3>
                                                
                                                
                                                <div class="mb-4 pb-2">
                                                  <div class="form-outline form-white">
                                                    <input name="address" id="form3Examplea2" class="form-control form-control-lg" value="{{ customer[12] }}">
                                                    <label class="form-label" for="form3Examplea2">Address</label>
                                                  </div>
                                                </div>
                            
                              
                                                <div class="row">
                                                  
                                                  <div class="col-md-5 mb-4 pb-2">
                              
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="form3Examplea4" name="city" value="{{ customer[6] }}" class="form-control form-control-lg" />
                                                      <label class="form-label" for="form3Examplea4">city</label>
                                                    </div>
                              
                                                  </div>
                                                  <div class="col-md-7 mb-4 pb-2">
                              
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="form3Examplea5" name="state" value="{{ customer[7] }}" class="form-control form-control-lg" />
                                                      <label class="form-label" for="form3Examplea5">state</label>
                                                    </div>
                              
                                                  </div>
                                                </div>
                                                
                                                <div class="row">
                                                  <div class="col-md-5 mb-4 pb-2">
                              
                                                    
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="form3Examplea4" name="zipcode" value="{{ customer[8] }}" class="form-control form-control-lg" />
                                                      <label class="form-label" for="form3Examplea4">zipcode</label>
                                                    </div>
                              
                                                  </div>
                                                  <div class="col-md-7 mb-4 pb-2">
                              
                                                    <div class="form-outline form-white">
                                                      <input type="text" id="form3Examplea5" name="country" value="{{ customer[9] }}" class="form-control form-control-lg" />
                                                      <label class="form-label" for="form3Examplea5">country</label>
                                                    </div>
                              
                                                  </div>
                                                </div>
                              
                                                
                                               
                                                
                                                <div class="mb-4 pb-2">
                                                  <div class="form-outline">
                                                    <input type="number" id="form3Examplev4" name="msalary" value="{{ salary }}" class="form-control form-control-lg" />
                                                    <label class="form-label" for="form3Examplev4">monthly salary</label>
                                                  </div>
                                                </div>
                                                
                                                
                                                <div class="form-outline">
                                                  <input type="file" name="file1" class="form-control form-control-lg" id="inputGroupFile01">
                                                  <label for="inputGroupFile01" class="form-label">Choose your identity card</label>
                                                  
                                                </div>
                                                <div class="form-outline">
                                                  <input type="file" name="file2" class="form-control form-control-lg" id="inputGroupFile01">
                                                  <label for="inputGroupFile01" class="form-label">Choose address proof</label>
                                                  
                                                </div>
                                                <div class="form-outline">
                                                  <input type="file" name="file3" class="form-control form-control-lg" id="inputGroupFile01">
                                                  <label for="inputGroupFile01" class="form-label">Income proof</label>
                                                  
                                                </div>
                                                
                                               
                       
                                               
                                          
                                                
                                                    
                                                 
                                                
                                                
                                                
                                                
                                                  <input type="submit"  name="add" value="Request" class="btn btn-primary btn-lg">
                                                  {% endfor %}
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              </form>
                 </section>
                 
                
            </main>  
    <!-- ====================end of aside==========================   -->
    
    <script>
      var jobTypeSelect = document.getElementById('jobTypeSelect');
      var otherJobForm = document.getElementById('otherJobForm');
    
      jobTypeSelect.addEventListener('change', function() {
        if (jobTypeSelect.value === 'others') {
          otherJobForm.style.display = 'block';
        } else {
          otherJobForm.style.display = 'none';
        }
      });
    </script>
       <script>
        var showContainer = document.getElementById('container-67');
var showBtn = document.getElementById('show-btn');

showBtn.addEventListener('click', function() {
if (showContainer.style.display === 'none') {
showContainer.style.display = 'block';
showBtn.innerHTML = '<i class="fas fa-minus"></i>';
} else {
showContainer.style.display = 'none';
showBtn.innerHTML = '<i class="fas fa-plus"></i>';
}
});

       </script>
</body>
</html>