{% include 'customersidebar.html' %}

<section class="middle" style="width: 120%; height: 100%;">
    <div class="header">
        
        <input type="date">
    </div>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px; background:rgb(213, 230, 236);">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Quick Transfer</h2>
  
                <form method="post" myForm>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form1">Select Account</label>
                    <div class="dropdown dropdown-custom-4">
                      <input type="text" name="accno" id="new-dropdown-input-4" style="background: #f2e5e5;" class="form-control form-control-lg" placeholder="Search by accno or customer name...." required>
                      <span class="dropdown-custom-icon-4">&#9662;</span>
                      <ul class="dropdown-custom-list-4" style="display: block;">
                        {% for row in acc_no %}
                        <li onclick="selectAccount('{{ row[0] }}', '{{ row[1] }}','{{ row[2] }}')">&#8377; {{ row[1] }} <div class="space"></div> <b>{{ row[0] }} Savings A/c</b></li>
                        {% endfor %}
                      </ul>
                    </div>
                  
                    <!-- <input type="number"  id="amt" name="account" class="form-control form-control-lg" placeholder="Name*"/> -->

                        
                   <i><h3 style="padding: 6px;" id="balance" style="display: none;"></h3></i> 
                   <i><h3 style="padding: 6px;" id="ifsccode" style="display: none;"></h3></i> 
                   <div class="form-outline">
                    <input type="number" id="amt" name="balance" style="display: none;" class="form-control form-control-lg" placeholder="full Name*" hidden/>
                    
                  </div>

                  
                    <div class="form-outline mb-4 pb-2">
                      <input type="text"  id="form1"  class="form-control form-control-lg" placeholder="Full Name*"  required/>
                    </div>
                    <div class="form-outline mb-4 pb-2">
                      <input type="number" name="acc" id="form2" class="form-control form-control-lg" placeholder="Account number*"  required/>
                    </div>
                    
                    <div class="form-outline mb-4">
                      <input type="number" name="acc1" id="form3" class="form-control form-control-lg" placeholder="Re-Enter Acc Number*"  required/>
                      <!-- <label class="form-label" for="form2">Re-Enter Acc Number</label><br> -->
                      <span class="error-message" style="display: none;">Pin numbers do not match</span>
                      <span class="error-message1" style="display: none;">numbers match</span>

                    </div>
                   <i><h3 style="padding: 8px;" id="ifsccode" style="display: none;"></h3></i> 

                    <i><h3 style="color: rgb(135, 131, 131);">please note that only the the beneficary account number and ifsc <br>
                      information will be use for quick transfer.<br>
                    (please ensure corrections),the beneficary name provided will not be
                    considered as per RBI guidelines</h3></i>
<br>
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck"  required>
    <label class="form-check-label" for="gridCheck">
      Send <span class='rupee-symbol'>&#8377;</span>1 as test amount<br>
      <p class="down">(Optional, if not sure about A/c no.)</p>
    </label>
  </div>
</div>

<div class="form-outline mb-4 pb-2">
  <input type="number" name="amount" id="form4" class="form-control form-control-lg" placeholder="Amount*"  required/>
</div>
     

<div class="form-outline mb-4 pb-2">
  <input type="number" name="mpipin" id="form5" class="form-control form-control-lg" placeholder="Enter pin*"  required/>
</div>
                 
                  

<div class="d-flex justify-content-center">
  <button class="btn btn-primary btn-lg gradient-custom-4 text-body" onclick="showLoadingAnimation(event)">Submit</button>
</div>
<div id="fadeOverlay" class="fade-overlay" style="display: none;">

<div id="popupContainer" class="popup-container">
  <div class="popup-content">
    <span class="popup-icon">&#10004;</span>
    <p>Transaction is successful</p>
    <p id="fromValue"></p>
    <p id="toValue"></p>
    <p id="balanceValue"></p>
    <p id="remainingBalanceValue"></p>
    <p id="dateValue"></p>
   
    <input type="submit" name="add" value="OK" class="btn btn-primary btn-lg gradient-custom-4 text-body" onclick="submitForm()">
  </div>
</div>    
</div>
      </form>
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <script>
    function showLoadingAnimation(event) {
      event.preventDefault(); // Prevent the default form submission
  
      // Create the loading container and spinner
      var loadingContainer = document.createElement('div');
      loadingContainer.classList.add('loading-container');
      var loadingSpinner = document.createElement('div');
      loadingSpinner.classList.add('loading-spinner');
  
      // Append the spinner to the container
      loadingContainer.appendChild(loadingSpinner);
  
      // Append the container to the document body
      document.body.appendChild(loadingContainer);
  
      // After 5 seconds, remove the loading container and show the pop-up
      setTimeout(function() {
        loadingContainer.remove();
        showPopupAndSubmit(event);
      }, 5000);
    }
  
    function showPopupAndSubmit(event) {
  event.preventDefault(); // Prevent the default form submission
  // document.getElementById('myForm').submit();
  var from = document.getElementById('new-dropdown-input-4').value;
  var to = document.getElementById('form2').value;

  var accountBalance = document.getElementById('balance').value;
  var enteredAmount = document.getElementById('form4').value;
  
  // Convert accountBalance and enteredAmount to numbers
  accountBalance = parseInt(accountBalance);
  enteredAmount = parseInt(enteredAmount);

  // Calculate the remaining balance
  var remainingBalance = accountBalance - enteredAmount;

  // Get the current date
  var currentDate = new Date().toISOString().slice(0, 10);

  // Create the pop-up container and content
  var popupContainer = document.createElement('div');
  popupContainer.classList.add('popup-container');
  var popupContent = document.createElement('div');
  popupContent.classList.add('popup-content');

  // Add the HTML content to the pop-up
  popupContent.innerHTML = `
    <span class="popup-icon">&#10004;</span>
    <p>Transaction is successful</p>
    <p>from:${from}</p>
    <p>to:${to}</p>
    <p>Balance: &#8377;${accountBalance}</p>
    <p>Remaining Balance: &#8377;${remainingBalance}</p>
    <p>Date: ${currentDate}</p>
  `;

  // Append the content to the container
  popupContainer.appendChild(popupContent);

  // Append the container to the document body
  document.body.appendChild(popupContainer);

  // Remove the pop-up after 5 seconds
  setTimeout(function() {
    popupContainer.remove();

    // Submit the form programmatically
    document.getElementById('myForm').submit();
  }, 5000);
 
}
</script> -->

<script>
      
  function validateWithdrawal() {
    var withdrawAmount = parseInt(document.getElementById("form4").value);
    var currentBalance = parseInt(document.getElementById("balance").value);

    if (withdrawAmount > (currentBalance - 1000)) {
  alert("The withdrawal amount is greater and there must be a min balance of 1000");
  document.getElementById("form4").value = ""; // Clear the withdrawal amount input field
}
  }

  document.getElementById("form4").addEventListener("input", validateWithdrawal);

    </script>
<script>
  const firstNameInput = document.getElementById('form1');
  const lastNameInput = document.getElementById('form2');
  const cityNameInput = document.getElementById('form3');
  
 
  
  


  firstNameInput.addEventListener('input', function() {
const firstNameValue = firstNameInput.value;
const containsNumber = /\d/.test(firstNameValue);
const containsSymbol = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(firstNameValue);

if (containsNumber || containsSymbol) {
  showAlert('Invalid characters in the first name field. Please enter a valid first name.');
  firstNameInput.value = '';
}
});
  lastNameInput.addEventListener('input', function() {
    var phoneno = /^\d{12}$/;
const lastNameValue = lastNameInput.value;
// const containsNumber = /\d/.test(lastNameValue);
// const containsSymbol = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(lastNameValue);

if (lastNameInput.value.match(phoneno) || lastNameValue<0) {
  showAlert('Invalid acc no must be 12 digits Please enter a valid last name.');
  lastNameInput.value = '';
}
});

  cityNameInput.addEventListener('input', function() {
    var phoneno1 = /^\d{12}$/;
const cityNameValue = cityNameInput.value;
// const containsNumber = /\d/.test(cityNameValue);
// const containsSymbol = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(cityNameValue);

if (cityNameInput.value.match(phoneno1) || cityNameValue<0) {
  showAlert('Invalid acc no must be 12 digits Please enter a valid last name.');

  cityNameInput.value = '';
}
});


  phoneInput.addEventListener('input', function() {
  var phoneno = /^\d{11}$/;


const phoneValue =  parseFloat(phoneInput.value);
const containsSymbol1 = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(phoneValue);

if (phoneInput.value.match(phoneno) || phoneValue < 0 || containsSymbol1) {
  showAlert('Phone number must be exactly 10 digits long and should not contain special symbols.');
  phoneInput.value = '';
}
});



  function showAlert(message) {
const alertElement = document.createElement('div');
alertElement.classList.add('alert-message');
alertElement.textContent = message;

// Insert the alert message before the form
const formElement = document.querySelector('form');
formElement.parentNode.insertBefore(alertElement, formElement);

// Remove the alert message after a delay (5 seconds in this example)
setTimeout(function() {
  alertElement.remove();
}, 3500);
}
</script>
<script>
  function showLoadingAnimation(event) {
    event.preventDefault(); // Prevent the default form submission

    // Get the form values
    var from = document.getElementById('new-dropdown-input-4').value;
    var to = document.getElementById('form2').value;
    var accountBalance = document.getElementById('balance').value;
    var enteredAmount = document.getElementById('form4').value;

    // Check if any of the form fields are empty
    if (from === '' || to === '' || accountBalance === '' || enteredAmount === '') {
      alert('Please fill in all the form fields.');
      return; // Prevent form submission if any field is empty
    }

    // Create the loading container and spinner
    var loadingContainer = document.createElement('div');
    loadingContainer.classList.add('loading-container');
    var loadingSpinner = document.createElement('div');
    loadingSpinner.classList.add('loading-spinner');

    // Append the spinner to the container
    loadingContainer.appendChild(loadingSpinner);

    // Append the container to the document body
    document.body.appendChild(loadingContainer);

    // After 5 seconds, remove the loading container and show the pop-up
    setTimeout(function() {
      loadingContainer.remove();
      showPopup();
    }, 5000);
  }

  function showPopup() {
    // Get the form values
    var from = document.getElementById('new-dropdown-input-4').value;
    var to = document.getElementById('form2').value;
    var accountBalance = document.getElementById('balance').value;
    var enteredAmount = document.getElementById('form4').value;

    // Convert accountBalance and enteredAmount to numbers
    accountBalance = parseInt(accountBalance);
    enteredAmount = parseInt(enteredAmount);

    // Calculate the remaining balance
    var remainingBalance = accountBalance - enteredAmount;

    // Get the current date
    var currentDate = new Date().toISOString().slice(0, 10);

    // Update the popup content with the form values
    document.getElementById('fromValue').textContent = "from: " + from;
    document.getElementById('toValue').textContent = "to: " + to;
    document.getElementById('balanceValue').textContent = "Balance: ₹" + accountBalance;
    document.getElementById('remainingBalanceValue').textContent = "Remaining Balance: ₹" + remainingBalance;
    document.getElementById('dateValue').textContent = "Date: " + currentDate;

    // Show the popup container
    document.getElementById('popupContainer').style.display = "block";
    document.getElementById('fadeOverlay').style.display = "block";

  }

  // function submitForm() {
  //   // Submit the form programmatically
  //   document.getElementById('myForm').submit();
  // }
  function submitForm() {
    // Get the form values
    var from = document.getElementById('new-dropdown-input-4').value;
    var to = document.getElementById('form2').value;
    var accountBalance = document.getElementById('balance').value;
    var enteredAmount = document.getElementById('form4').value;

    // Check if any of the form fields are empty
    if (from === '' || to === '' || accountBalance === '' || enteredAmount === '') {
      alert('Please fill in all the form fields.');
      return; // Prevent form submission if any field is empty
    }

    // Convert accountBalance and enteredAmount to numbers
    accountBalance = parseInt(accountBalance);
    enteredAmount = parseInt(enteredAmount);

    // Calculate the remaining balance
    var remainingBalance = accountBalance - enteredAmount;

    // Get the current date
    var currentDate = new Date().toISOString().slice(0, 10);

    // Update the popup content with the form values
    document.getElementById('fromValue').textContent = "from: " + from;
    document.getElementById('toValue').textContent = "to: " + to;
    document.getElementById('balanceValue').textContent = "Balance: ₹" + accountBalance;
    document.getElementById('remainingBalanceValue').textContent = "Remaining Balance: ₹" + remainingBalance;
    document.getElementById('dateValue').textContent = "Date: " + currentDate;

    // Show the popup container
    document.getElementById('popupContainer').style.display = "block";
    document.getElementById('fadeOverlay').style.display = "block";

    // Submit the form programmatically
    document.getElementById('myForm').submit();
  }
</script>



  <script>
    $(document).ready(function() {
      // Function to fill the second form field with value 1
      function fillAmountField() {
        var checkbox = $('#gridCheck');
        var amountField = $('#form4');
  
        if (checkbox.is(':checked')) {
          amountField.val('1');
        } else {
          amountField.val('');
        }
      }
  
      // Call the fillAmountField function whenever the checkbox state changes
      $('#gridCheck').on('change', fillAmountField);
    });
  </script>
  <script>
    function selectAccount(accno, balance,ifsccode) {
      // Update the selected account's balance
      document.getElementById("balance").innerHTML = "Available Balance : <span class='rupee-symbol'>&#8377;</span> " + balance;
      document.getElementById("ifsccode").innerHTML = "Ifsccode :  " + ifsccode;
      
      document.getElementById("balance").value=balance;
      document.getElementById("amt").value=accno;

     


      document.getElementById("balance").style.display = "block";
      document.getElementById("ifsccode").style.display = "block";

    }
  </script>
 <script>
  $(document).ready(function() {
    // Function to compare the values in form 1 and form 2
    function comparePins() {
      var pin1 = $('#form2').val();
      var pin2 = $('#form3').val();

      if (pin1 !== pin2) {
        $('.error-message').show();
      } else {
        $('.error-message').hide();
        $('.error-message1').show();
        setTimeout(function() {
          $('.error-message1').hide();
        }, 3000); // Delay for 5 seconds (5000 milliseconds)
      }
    }

    // Call the comparePins function whenever typing in form 2
    $('#form3').on('input', comparePins);
  });
</script>
            
                
            </main>  
    
    
            <script>
              const newInput = document.querySelector('#new-dropdown-input-4');
              const newDropdownList = document.querySelector('.dropdown-custom-list-4');
              const newOptions = Array.from(newDropdownList.getElementsByTagName('li'));
              const newDropdownIcon = document.querySelector('.dropdown-custom-icon-4');
              
              newInput.addEventListener('input', function() {
                const searchText = newInput.value.toLowerCase();
              
                newOptions.forEach(option => {
                  const text = option.textContent.toLowerCase();
                  if (text.includes(searchText)) {
                    option.style.display = 'block';
                  } else {
                    option.style.display = 'none';
                  }
                });
              
                newDropdownList.style.display = 'block';
              });
              
              newDropdownIcon.addEventListener('click', function() {
                newDropdownList.style.display = newDropdownList.style.display === 'block' ? 'none' : 'block';
              });
              
              newDropdownList.addEventListener('click', function(event) {
                const selectedOption = event.target;
                if (selectedOption.tagName === 'LI') {
                  const optionValues = selectedOption.textContent.trim().split(' ');
                  newInput.value = optionValues[optionValues.length - 3];
                  newDropdownList.style.display = 'none';
                }
              });
              
              newInput.addEventListener('click', function() {
                newDropdownList.style.display = 'none';
              });
              
              newDropdownList.style.display = 'none';
            </script>
       
</body>
</html>