{% include 'managersidebar.html' %}

                 <section class="middle">
                    <div class="header">
                        
                        <input type="date">
                    </div>
                    <div class="welcome-container">
                        <h1 class="welcome-text">Welcome to Bank Manager Portal</h1>
                    
                        <div class="subtitle-text">Manage and oversee all clerk operations</div>
                    
                    
                        <a href="#" class="read-more-btn">Read More</a>
                    
                        <div class="social-icons">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                      </div>
             </section>
                
            </main>  
    <!-- ====================end of aside==========================   -->
</body>

</html>