{% include 'managersidebar.html' %}

                 <section class="middle">
                    <div class="header">
                        
                        <input type="date">
                    </div><br>
                    <br>
                    <br>
                    <div class="container-5">
                        <h1 class="churn-heading">Customer Churn</h1>
                        <p class="customer-id">Customer ID: {{ customer_id }}</p>
                        <p class="customer-id">Name: {{ f_name }} {{ l_name }}</p>

                        <p class="credit-score">CreditScore: {{ credit_score }}</p>
                      
                        <p class="age">Age: {{ age }}</p>
                        <p class="tenure">Tenure: <span>{{ tenure }}</span></p>
                        <p class="balance">Balance: <span>{{ balances }}</span></p>
                        <p class="num-of-products">NumOfProducts: <span>{{ NumOfProducts }}</span></p>
                        <p class="has-cr-card">HasCrCard: <span>{{ 1 }}</span></p>
                        <p class="is-active-member">IsActiveMember: (1: active, 0: not active): <span>{{ IsActiveMembervalue }}</span></p>
                        <p class="estimated-salary">EstimatedSalary: <span>{{ msalary }}</span></p>
                        <p class="customer-id">state: {{ state }}</p>

                        <p class="geography-germany">Geography_Germany: <span>{{ Geography_Germany }}</span></p>
                        <p class="geography-germany">Geography_Spain: <span>{{ Geography_Spain }}</span></p>

                        <p class="gender">Gender_Male: (1: male, 0: female): <span>{{ gender_value }}</span></p>
                      
                      <form method="POST">
                        <input type="hidden" name="credit_score" value="{{ credit_score }}">

                        <input type="hidden" name="age" value="{{ age }}">
                        <!-- <input type="hidden" name="age" value="49"> -->

                        <input type="hidden" name="tenure" value="{{ tenure }}">
                        <input type="hidden" name="balance" value="{{ balances }}">
                        <input type="hidden" name="num_of_products" value="{{ NumOfProducts }}">
                        <input type="hidden" name="has_cr_card" value="{{ 1 }}">
                        <input type="hidden" name="is_active_member" value="{{ IsActiveMembervalue }}">
                        <input type="hidden" name="estimated_salary" value="{{ msalary }}">
                        <input type="hidden" name="geography_germany" value="{{ Geography_Germany }}">
                        <input type="hidden" name="geography_spain" value="{{ Geography_Spain }}">

                        <input type="hidden" name="gender" value="{{ gender_value }}">
                        <!-- <button class="churn-analysis-btn" type="submit">Churn Analysis</button> -->
                        <!-- <a href="customerchurnprediction" class="btn btn-info">Customer Churn</a> -->
                        <input type="submit"  name="add" value="Customer Churn" class="btn btn-primary btn-lg">

                      </form>
                     

                      
                    </div>
                   
             </section>
                
            </main>  
    <!-- ====================end of aside==========================   -->
   
</body>

</html>