{% include 'managersidebar.html' %}

                 <section class="middle">
                    <div class="header">
                        
                        <input type="date">
                    </div><br>
                    <br>
                    <br>

                    <h2>Customer Churn</h2>
                        <p>Customer ID: {{ customer_id }}</p>
                        <p>CreditScore: {{ credit_score }}</p>

                        <p>age: {{ age }}</p>
                        <p>Tenure: <span>{{ tenure }}</span></p>
                        <p>Balance: <span>{{ balances }}</span></p>
                        <p>NumOfProducts: <span>{{ NumOfProducts }}</span></p>
                        <!-- <p>HasCrCard: <span>{{ HasCrCard }}</span></p> -->
                        <p>IsActiveMember:(1:active 0:not active): <span>{{ IsActiveMembervalue }}</span></p>
                        <p>EstimatedSalary: <span>{{ msalary }}</span></p>
                        <p>Geography_Germany: <span>{{ state }}</span></p>
                        <!-- <p>Geography_Spain: <span>{{ Geography_Spain }}</span></p> -->
                        <p>Gender_Male: (1:male,0:female) : <span>{{ gender_value }}</span></p>

             </section>
                
            </main>  
    <!-- ====================end of aside==========================   -->
</body>

</html>