{% include 'managersidebar.html' %}

                 <section class="middle">
                    <div class="header">
                        
                        <input type="date">
                    </div><br>
                    <br>
                    <br>
                    <div class="container-5">
                        <h2 class="churn-heading">Customer Churn</h2>
                        <p class="customer-id">Customer ID: {{ customer_id }}</p>
                        <p class="credit-score">CreditScore: {{ credit_score }}</p>
                      
                        <p class="age">Age: {{ age }}</p>
                        <p class="tenure">Tenure: <span>{{ tenure }}</span></p>
                        <p class="balance">Balance: <span>{{ balances }}</span></p>
                        <p class="num-of-products">NumOfProducts: <span>{{ NumOfProducts }}</span></p>
                        <p class="has-cr-card">HasCrCard: <span>{{ 1 }}</span></p>
                        <p class="is-active-member">IsActiveMember: (1: active, 0: not active): <span>{{ IsActiveMembervalue }}</span></p>
                        <p class="estimated-salary">EstimatedSalary: <span>{{ msalary }}</span></p>
                        <p class="geography-germany">Geography_Germany: <span>{{ Geography_Germany }}</span></p>
                        <p class="geography-germany">Geography_Spain: <span>{{ Geography_Spain }}</span></p>

                        <p class="gender">Gender_Male: (1: male, 0: female): <span>{{ gender_value }}</span></p>
                        <br><br>
                        <div class="result">
                            <h1 id="predictionResult" class="alert alert-primary text-center" role="alert" style="display: none;">
                                {{ prediction_text }} {{ probability }}%
                            </h1>
                            <h1 id="workingText" class="alert alert-primary text-center" role="alert">
                                Working on it...
                            </h1>
                        </div>


                     
                      
                    
                    </div>
                   
             </section>
                
            </main>  
    <!-- ====================end of aside==========================   -->
    <script>
      
        // Delay the display of the prediction result
        setTimeout(function() {
            document.getElementById('workingText').style.display = 'none';
            document.getElementById('predictionResult').style.display = 'block';
        }, 5000);
    
    
        </script> 
</body>

</html>